/.idea/
Automaty.iml
/.out/
/out/production/Automaty/Auto.class
/out/production/Automaty/AutoTest.class
/out/production/Automaty/DoWhile.class
/out/production/Automaty/Student.class
/out/production/Automaty/Table.class
/out/production/Automaty/While.class
/out/production/Automaty/Zad.class
/out/production/Automaty/Zad2OdwrocenieTablicy.class
